# general options
-ksp_converged_reason
-ksp_max_it 1000
-ksp_rtol 1.0e-8
-ksp_type lsqr
-ksp_lsqr_exact_mat_norm
-ksp_lsqr_monitor

# for PCHPDDM
-pc_hpddm_levels_1_pc_asm_type basic
-pc_hpddm_levels_1_sub_pc_type cholesky
-pc_hpddm_levels_1_sub_pc_factor_mat_solver_type mumps
-pc_hpddm_levels_1_st_share_sub_ksp
-pc_hpddm_levels_1_eps_nev 300
-pc_hpddm_levels_1_eps_threshold 0.6
-pc_hpddm_levels_1_eps_gen_non_hermitian
-pc_hpddm_coarse_pc_type cholesky
-pc_hpddm_define_subdomains
-pc_hpddm_coarse_p 4

# for PCASM
-pc_asm_type basic
-sub_pc_type cholesky
-sub_pc_factor_mat_solver_type mumps

# for PCHYPRE
-pc_hypre_boomeramg_print_statistics 1

# for PCGAMG
-pc_use_amat false
-mg_coarse_pc_type redundant
-mg_coarse_redundant_pc_type cholesky
